[submodule "openvpn/usr/share/easy-rsa"]
	path = openvpn/usr/share/easy-rsa
	url = https://github.com/OpenVPN/easy-rsa.git

[submodule "miniircd/usr/src/miniircd"]
	path = miniircd/usr/src/miniircd
	url = https://github.com/jrosdahl/miniircd.git

[submodule "tircd/usr/src/tircd"]
	path = tircd/usr/src/tircd
	url = https://github.com/DexterTheDragon/tircd.git
	branch = my_version

[submodule "rtorrent/var/www/rutorrent"]
	path = rtorrent/var/www/rutorrent
	url = https://github.com/Novik/ruTorrent.git

[submodule "limnoria/usr/src/limnoria"]
	path = limnoria/usr/src/limnoria
	url = https://github.com/ProgVal/Limnoria.git
[submodule "limnoria/usr/src/plugins-progval"]
	path = limnoria/usr/src/plugins-progval
	url = https://github.com/ProgVal/Supybot-plugins.git
[submodule "limnoria/usr/src/plugins-glolol"]
	path = limnoria/usr/src/plugins-glolol
	url = https://github.com/GLolol/SupyPlugins.git
[submodule "limnoria/usr/src/plugins-extra/TVMaze"]
	path = limnoria/usr/src/plugins-extra/TVMaze
	url = https://github.com/Znuff/limnoria-tvmaze.git

[submodule "znc/usr/src/znc/modules/push"]
	path = znc/usr/src/znc/modules/push
	url = https://github.com/jreese/znc-push.git
[submodule "znc/usr/src/znc/modules/clientbuffer"]
	path = znc/usr/src/znc/modules/clientbuffer
	url = https://github.com/jpnurmi/znc-clientbuffer.git
[submodule "znc/usr/src/znc/modules/chanfilter"]
	path = znc/usr/src/znc/modules/chanfilter
	url = https://github.com/jpnurmi/znc-chanfilter.git

[submodule "pwnie/rootfs/opt/ROPgadget"]
	path = pwnie/rootfs/opt/ROPgadget
	url = https://github.com/JonathanSalwan/ROPgadget.git
[submodule "pwnie/rootfs/opt/pwntools"]
	path = pwnie/rootfs/opt/pwntools
	url = https://github.com/Gallopsled/pwntools.git
[submodule "pwnie/rootfs/opt/peda"]
	path = pwnie/rootfs/opt/peda
	url = https://github.com/zachriggle/peda.git
[submodule "pwnie/rootfs/opt/preeny"]
	path = pwnie/rootfs/opt/preeny
	url = https://github.com/zardus/preeny.git
[submodule "pwnie/rootfs/opt/HashPump"]
	path = pwnie/rootfs/opt/HashPump
	url = https://github.com/bwall/HashPump.git
[submodule "pwnie/rootfs/opt/xortool"]
	path = pwnie/rootfs/opt/xortool
	url = https://github.com/hellman/xortool.git
[submodule "pwnie/rootfs/opt/sqlmap"]
	path = pwnie/rootfs/opt/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "pwnie/rootfs/opt/commix"]
	path = pwnie/rootfs/opt/commix
	url = https://github.com/stasinopoulos/commix.git
[submodule "pwnie/rootfs/opt/weevely3"]
	path = pwnie/rootfs/opt/weevely3
	url = https://github.com/epinna/weevely3.git

[submodule "_desktop/mpv/usr/src/mpv"]
	path = _desktop/mpv/usr/src/mpv
	url = https://github.com/mpv-player/mpv.git
	branch = release/current

[submodule "_desktop/keepassx/usr/src/keepassx"]
	path = _desktop/keepassx/usr/src/keepassx
	url = https://github.com/keepassx/keepassx.git
	branch = 2.0
