[submodule "backup/usr/src/borgmatic"]
	path = backup/usr/src/borgmatic
	url = https://github.com/witten/borgmatic.git
	autoupdate = false
[submodule "backup/usr/src/tarsnap"]
	path = backup/usr/src/tarsnap
	url = https://github.com/Tarsnap/tarsnap.git
	autoupdate = false

[submodule "openvpn/usr/share/easy-rsa"]
	path = openvpn/usr/share/easy-rsa
	url = https://github.com/OpenVPN/easy-rsa.git
	autoupdate = true

[submodule "rtorrent/usr/share/rutorrent"]
	path = rtorrent/usr/share/rutorrent
	url = https://github.com/Novik/ruTorrent.git
	autoupdate = true

[submodule "toolbox/usr/src/ROPgadget"]
	path = toolbox/usr/src/ROPgadget
	url = https://github.com/JonathanSalwan/ROPgadget.git
	autoupdate = true
[submodule "toolbox/usr/src/pwntools"]
	path = toolbox/usr/src/pwntools
	url = https://github.com/Gallopsled/pwntools.git
	branch = stable
	autoupdate = true
[submodule "toolbox/usr/src/HashPump"]
	path = toolbox/usr/src/HashPump
	url = https://github.com/bwall/HashPump.git
	autoupdate = true
[submodule "toolbox/usr/src/xortool"]
	path = toolbox/usr/src/xortool
	url = https://github.com/hellman/xortool.git
	autoupdate = true
[submodule "toolbox/opt/peda"]
	path = toolbox/opt/peda
	url = https://github.com/zachriggle/peda.git
	autoupdate = true
[submodule "toolbox/opt/preeny"]
	path = toolbox/opt/preeny
	url = https://github.com/zardus/preeny.git
	autoupdate = true
[submodule "toolbox/opt/sqlmap"]
	path = toolbox/opt/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
	autoupdate = true
[submodule "toolbox/opt/commix"]
	path = toolbox/opt/commix
	url = https://github.com/stasinopoulos/commix.git
	autoupdate = true
[submodule "toolbox/opt/weevely3"]
	path = toolbox/opt/weevely3
	url = https://github.com/epinna/weevely3.git
	autoupdate = true

[submodule "miniircd/usr/share/miniircd"]
	path = miniircd/usr/share/miniircd
	url = https://github.com/jrosdahl/miniircd.git
	autoupdate = false

[submodule "tircd/usr/share/tircd"]
	path = tircd/usr/share/tircd
	url = https://github.com/DexterTheDragon/tircd.git
	branch = my_version
	autoupdate = true

[submodule "znc/usr/src/znc-push"]
	path = znc/usr/src/znc-push
	url = https://github.com/jreese/znc-push.git
	autoupdate = true
[submodule "znc/usr/src/znc-clientbuffer"]
	path = znc/usr/src/znc-clientbuffer
	url = https://github.com/jpnurmi/znc-clientbuffer.git
	autoupdate = true
[submodule "znc/usr/src/znc-chanfilter"]
	path = znc/usr/src/znc-chanfilter
	url = https://github.com/jpnurmi/znc-chanfilter.git
	autoupdate = true
[submodule "znc/usr/src/znc-modules"]
	path = znc/usr/src/znc-modules
	url = https://github.com/oszi/znc-modules.git
	autoupdate = true

[submodule "limnoria/usr/src/limnoria"]
	path = limnoria/usr/src/limnoria
	url = https://github.com/ProgVal/Limnoria.git
	autoupdate = true
[submodule "limnoria/usr/src/plugins-progval"]
	path = limnoria/usr/src/plugins-progval
	url = https://github.com/ProgVal/Supybot-plugins.git
	autoupdate = true
[submodule "limnoria/usr/src/plugins-glolol"]
	path = limnoria/usr/src/plugins-glolol
	url = https://github.com/GLolol/SupyPlugins.git
	autoupdate = true
[submodule "limnoria/usr/src/plugins-supyiel"]
	path = limnoria/usr/src/plugins-supyiel
	url = https://github.com/ormanya/Supyiel.git
	autoupdate = true
[submodule "limnoria/usr/src/plugins-imdb"]
	path = limnoria/usr/src/plugins-imdb
	url = https://github.com/ddan39/Supybot-IMDb.git
	autoupdate = true
[submodule "limnoria/usr/src/plugins-tvmaze/TVMaze"]
	path = limnoria/usr/src/plugins-tvmaze/TVMaze
	url = https://github.com/Znuff/limnoria-tvmaze.git
	autoupdate = true
[submodule "limnoria/usr/src/plugins-urbandict/UrbanDictionary"]
	path = limnoria/usr/src/plugins-urbandict/UrbanDictionary
	url = https://github.com/reticulatingspline/UrbanDictionary.git
	autoupdate = true
