[Unit]
Description=Supybot Template
After=docker.service dns.service
Requires=docker.service

[Service]
Restart=on-failure

ExecStartPre=-/usr/bin/docker rm -fv supybot-%i
ExecStart=/usr/bin/docker run --name=supybot-%i -m 64m --memory-swap=128m \
-v /var/lib/supybot-%i:/data:Z --cap-drop=ALL __IMAGE__ supybot %i.conf

ExecStop=/usr/bin/docker stop supybot-%i

[Install]
WantedBy=multi-user.target
