[Unit]
Description=MiniIRCd
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -fv ircd
ExecStart=/usr/bin/docker run --name ircd -v /mnt/miniircd:/data \
--cap-drop ALL -m 16m --memory-swap 96m nightling/miniircd

ExecStop=/usr/bin/docker stop ircd

[Install]
WantedBy=multi-user.target
