[Unit]
Description=MiniIRCd
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -fv miniircd
ExecStart=/usr/bin/docker run --name miniircd -m 24m --cap-drop ALL --read-only \
-v /mnt/miniircd:/data:Z quay.io/oszi/miniircd

ExecStop=/usr/bin/docker stop miniircd

[Install]
WantedBy=multi-user.target
