[Unit]
Description=Unbound DNS Resolver
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=1
Environment=NAME=unbound
Environment=CONF=/etc/unbound
Environment=DATA=/var/lib/unbound
Environment=NET=default
Environment=MEM=64m
Environment=SWAP=128m

ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --name=${NAME} --read-only \
--net=${NET} -m ${MEM} --memory-swap=${SWAP} -p 53:53/udp -p 53:53/tcp \
-v ${CONF}:/etc/unbound:ro,Z -v ${DATA}:/var/lib/unbound:Z __IMAGE__

ExecStop=/usr/bin/docker stop ${NAME}

[Install]
Alias=dns.service
WantedBy=multi-user.target
