[Unit]
Description=Limnoria@%i
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -fv supy-%i
ExecStart=/usr/bin/docker run --name supy-%i -c 128 -m 96m --cap-drop ALL \
-v /mnt/supy-%i:/data:Z quay.io/oszi/limnoria supybot %i.conf

ExecStop=/usr/bin/docker stop supy-%i

[Install]
WantedBy=multi-user.target
