[Unit]
Description=rTorrent & ruTorrent
After=docker.service dns.service
Requires=docker.service

[Service]
Restart=on-failure
Environment=HTTP_PORT=8080
Environment=P2P_PORT=55665
Environment=DATA=/var/lib/rtorrent

ExecStartPre=-/usr/bin/docker rm -fv rtorrent
ExecStartPre=-/bin/rm -f ${DATA}/.rtsession/rtorrent.lock
ExecStart=/usr/bin/docker run --name=rtorrent -m 2048m --memory-swap=3072m \
-p ${HTTP_PORT}:8080/tcp -p ${P2P_PORT}:${P2P_PORT}/udp -p ${P2P_PORT}:${P2P_PORT}/tcp \
-v ${DATA}:/data:z --cap-drop=ALL --read-only ${OPTIONS} __IMAGE__

ExecStop=/usr/bin/docker stop rtorrent

[Install]
WantedBy=multi-user.target
