[Desktop Entry]
Comment=Tresorit Desktop
Exec=tresorit %u
Icon=tresorit
GenericName=Tresorit
Name=Tresorit
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
