[Unit]
Description=Backup Service Timer
After=default.target network-online.target remote-fs.target
Wants=network-online.target

[Timer]
OnCalendar=daily
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
