[Unit]
Description=Backup Service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/sysconfig/containers/environment
EnvironmentFile=/etc/sysconfig/containers/%p/%i
Restart=on-abnormal
RestartSec=600

ExecStartPre=-/usr/bin/docker rm -v ${NAME}
ExecStart=/usr/bin/docker run --rm --env-file=/etc/sysconfig/containers/%p/%i \
--name=${NAME} --security-opt=label:disable --uts=host \
-v /etc/machine-id:/etc/machine-id:ro -v /etc/group:/etc/group:ro \
-v /etc/passwd:/etc/passwd:ro -v /etc/shadow:/etc/shadow:ro \
$DOCKER_OPTS ${IMAGE} $CMD
