[Unit]
Description=Tresorit

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/tresorit --hidden
ExecStop=/usr/bin/docker stop tresorit-${USER}

[Install]
WantedBy=default.target
