[Unit]
Description=Samba NMBD
After=smb.service
Requires=smb.service

[Service]
Restart=on-failure
RestartSec=1
Environment=NAME=samba
ExecStart=/usr/bin/docker exec ${NAME} nmbd

[Install]
WantedBy=multi-user.target
