[Unit]
Description=Samba SMBD
After=docker.service dns.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/containers/samba/samba
Restart=on-failure
RestartSec=1

ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --name=${NAME} --env-file=/etc/sysconfig/containers/samba/samba \
--net=${NET} -m ${MEM} --memory-swap=${SWAP} --read-only --security-opt=label:disable \
-v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro -v /etc/shadow:/etc/shadow:ro \
-v ${CONFDIR}:/etc/samba:ro -v ${DATADIR}:/var/lib/samba:rw -v ${MNT}:/mnt:rw ${IMAGE}
ExecStop=/usr/bin/docker stop ${NAME}

[Install]
WantedBy=multi-user.target
